UID=1000
GID=958

LARAVEL_APP_PORT=8000
REACT_APP_PORT=3000
DB_EXPOSED_PORT=33066

APP_NAME=XadrezMaroto
APP_ENV=local
APP_KEY=base64:SUA_APP_KEY_GERADA_PELO_ARTISAN_KEY_GENERATE
APP_DEBUG=true
APP_URL=http://localhost:${LARAVEL_APP_PORT:-8000}

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=xadrezmaroto-db
DB_PORT=3306
DB_DATABASE=xadrezmaroto
DB_USERNAME=admin
DB_PASSWORD=admin123

DB_ROOT_PASSWORD=admin123

NEXT_PUBLIC_API_URL=http://localhost:${LARAVEL_APP_PORT:-8000}/api

XDEBUG_MODE=off