@import '@/styles/utils/mixins';

.home-header {
	display: flex;
	justify-content: space-between;
	padding: 2rem 3rem;
	width: 100%;

	.logo {
		display: flex;
		justify-content: center;
		gap: 0.8rem;

		h1 {
			font-size: $fs-lg;
			font-weight: 700;
			margin: 0;
		}

		.chess-icon {
			font-size: 2rem;
		}
	}

	.auth-buttons {
		display: flex;
		gap: 1.5rem;
	}

	@include tablet {
		flex-direction: column;
		gap: 2rem;
	}
}
