$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1025px;

$background: #faf8f0;
$foreground: #4a4038;
$board-light: #c8c093;
$board-dark: #7a8754;
$accent: #d99a7c;

$error: #e74c3c;
$success: #2ecc71;
$warning: #f39c12;
$info: #3498db;

$fs-xl: 3rem; 		// Título principal
$fs-lg: 2rem; 		// Subtítulos
$fs-md: 1.25rem; 	// Texto médio
$fs-sm: 1rem; 		// Texto padrão
$fs-xs: 0.875rem; 	// Texto pequeno
